/* Light and dark mode */
.dark-mode {
    background-color: darkgray;
    color: rgb(0, 0, 0);
}
.light-mode {
    background-color: white;
    color: black;
}

/* Cap image size */
#main-image-container {
width: 400px;
height: 300px;
}

/* Hovering over the image produces a textbox */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
 .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 100%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
  }
  
  .tooltip.show .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

/* Lists look pretty */
li {
    list-style-type: none;
}

/* Get everything centered up */


/* navbar flexbox */
.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* position: fixed;     
    left: 50%;     
    bottom: 35px;     
    transform: translate(-50%, -50%);     
    margin: 0 auto; */
    /* float: left;
    width: 20%; */
}
